*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;

    // Fixed: Font weight on osx bolder than window.
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; /* firefox font smoothing css */
}

body {
    -webkit-font-smoothing: antialiased;
    font-size: $font_size;
    line-height: 1.75;
    color: $text_color;
    font-family: $body_font;
    font-style: normal;
    font-stretch: normal;
    font-weight: normal;
    letter-spacing: normal;
    margin: 0;
	 background-color: $bg_body;

}

body.dark{
	background-color: $primary_color;
	mark{
		color: #fff;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    color: $primary_color;
    margin: 0 0 18px;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

p:last-child {
    margin-bottom: 0;
}

img {
    display: block;
    border: none;
    max-width: 100%;
    height: auto;
}

a {
    color: $primary_color;
    text-decoration: none;
}

a:hover {
    color: $accent_color;
    text-decoration: none;
}

a:focus {
    text-decoration: none;
    color: inherit;
    outline: none;
}

a,
button,
input,
svg {
    @include transition-03;
}

button {
    cursor: pointer;
}

button:focus {
    outline: 0;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="number"],
input[type="search"],
input[type="url"],
textarea {
    font-size: 15px;
    color: #2a2a2a;
    width: 100%;
    outline: none;
    border: 1px solid #f9f9f9;
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 0 20px;
    min-height: 48px;
}

button,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="url"]:focus,
textarea:focus {
    border-color: $accent_color;
    color: #1a1a1a;
    background-color: #fff;
}

input[type="submit"],
button{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input[type="submit"]:focus {
    outline: 0;
}

select {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0em;
    color: #7e7e7e;
    padding: 3px 35px 3px 20px;
    min-height: 56px;
    max-width: 100%;
    width: 100%;
    outline: none;
    border: 1px solid #f7f7f7;
    border-radius: 5px;
    background: transparent
        url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAFCAYAAAELY03+AAAABGdBTUEAALGPC/xhBQAAAFFJREFUCB1tTsERwCAIC9MyhnQMprUJPTw9mweGmACWmQFggGSSQCT02lLUCaayAuTubrcNeNr5TaRAZyhd6A1q2hnkQ8IPKl3G/tyPoHaMfwHyzSNHeemKDAAAAABJRU5ErkJggg==)
        no-repeat center right 20px;
    background-color: #f7f7f7;
    -moz-appearance: none;
    -webkit-appearance: none;
}

select:focus {
    color: #777;
    border-color: $accent_color;
    background-color: #fff;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    border-color: #5d5d5d;
}

@-webkit-keyframes autofill {
    to {
        color: #666 !important;
        background: #fff !important;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
select:-webkit-autofill,
textarea:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

figure {
    margin-bottom: 0;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.rtl {
    direction: rtl;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.bottom-30{
	margin-bottom: 30px;
}

@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}
