/**
 * ==============================================
 * Dot Falling
 * ==============================================
 */
 .dot-falling {
	position: relative;
	left: -9999px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: $accent_color;
	color: $accent_color;
	box-shadow: 9999px 0 0 0 $accent_color;
	animation: dotFalling 1s infinite linear;
	animation-delay: 0.1s;
}

.dot-falling::before,
.dot-falling::after {
	content: "";
	display: inline-block;
	position: absolute;
	top: 0;
}

.dot-falling::before {
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: $accent_color;
	color: $accent_color;
	animation: dotFallingBefore 1s infinite linear;
	animation-delay: 0s;
}

.dot-falling::after {
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: $accent_color;
	color: $accent_color;
	animation: dotFallingAfter 1s infinite linear;
	animation-delay: 0.2s;
}

@keyframes dotFalling {
	0% {
		 box-shadow: 9999px -15px 0 0 rgba(152, 128, 255, 0);
	}
	25%,
	50%,
	75% {
		 box-shadow: 9999px 0 0 0 $accent_color;
	}
	100% {
		 box-shadow: 9999px 15px 0 0 rgba(152, 128, 255, 0);
	}
}

@keyframes dotFallingBefore {
	0% {
		 box-shadow: 9984px -15px 0 0 rgba(152, 128, 255, 0);
	}
	25%,
	50%,
	75% {
		 box-shadow: 9984px 0 0 0 $accent_color;
	}
	100% {
		 box-shadow: 9984px 15px 0 0 rgba(152, 128, 255, 0);
	}
}

@keyframes dotFallingAfter {
	0% {
		 box-shadow: 10014px -15px 0 0 rgba(152, 128, 255, 0);
	}
	25%,
	50%,
	75% {
		 box-shadow: 10014px 0 0 0 $accent_color;
	}
	100% {
		 box-shadow: 10014px 15px 0 0 rgba(152, 128, 255, 0);
	}
}

/**
* ==============================================
* Dot Fire
* ==============================================
*/
.dot-fire {
	position: relative;
	left: -9999px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: $accent_color;
	color: $accent_color;
	box-shadow: 9999px 22.5px 0 -5px $accent_color;
	animation: dotFire 1.5s infinite linear;
	animation-delay: -0.85s;
}

.dot-fire::before,
.dot-fire::after {
	content: "";
	display: inline-block;
	position: absolute;
	top: 0;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: $accent_color;
	color: $accent_color;
}

.dot-fire::before {
	box-shadow: 9999px 22.5px 0 -5px $accent_color;
	animation: dotFire 1.5s infinite linear;
	animation-delay: -1.85s;
}

.dot-fire::after {
	box-shadow: 9999px 22.5px 0 -5px $accent_color;
	animation: dotFire 1.5s infinite linear;
	animation-delay: -2.85s;
}

@keyframes dotFire {
	1% {
		 box-shadow: 9999px 22.5px 0 -5px $accent_color;
	}
	50% {
		 box-shadow: 9999px -5.625px 0 2px $accent_color;
	}
	100% {
		 box-shadow: 9999px -22.5px 0 -5px $accent_color;
	}
}

/**
* ==============================================
* Dot Spin
* ==============================================
*/
.dot-spin {
	position: relative;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: transparent;
	color: transparent;
	box-shadow: 0 -18px 0 0 $accent_color, 12.72984px -12.72984px 0 0 $accent_color, 18px 0 0 0 $accent_color,
		 12.72984px 12.72984px 0 0 rgba(152, 128, 255, 0), 0 18px 0 0 rgba(152, 128, 255, 0),
		 -12.72984px 12.72984px 0 0 rgba(152, 128, 255, 0), -18px 0 0 0 rgba(152, 128, 255, 0),
		 -12.72984px -12.72984px 0 0 rgba(152, 128, 255, 0);
	animation: dotSpin 1.5s infinite linear;
}

@keyframes dotSpin {
	0%,
	100% {
		 box-shadow: 0 -18px 0 0 $accent_color, 12.72984px -12.72984px 0 0 $accent_color, 18px 0 0 0 $accent_color,
			  12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0),
			  -12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0),
			  -12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0);
	}
	12.5% {
		 box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.72984px -12.72984px 0 0 $accent_color,
			  18px 0 0 0 $accent_color, 12.72984px 12.72984px 0 0 $accent_color, 0 18px 0 -5px rgba(152, 128, 255, 0),
			  -12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0),
			  -12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0);
	}
	25% {
		 box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0),
			  18px 0 0 0 $accent_color, 12.72984px 12.72984px 0 0 $accent_color, 0 18px 0 0 $accent_color,
			  -12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0),
			  -12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0);
	}
	37.5% {
		 box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0),
			  18px 0 0 -5px rgba(152, 128, 255, 0), 12.72984px 12.72984px 0 0 $accent_color, 0 18px 0 0 $accent_color,
			  -12.72984px 12.72984px 0 0 $accent_color, -18px 0 0 -5px rgba(152, 128, 255, 0),
			  -12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0);
	}
	50% {
		 box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0),
			  18px 0 0 -5px rgba(152, 128, 255, 0), 12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0),
			  0 18px 0 0 $accent_color, -12.72984px 12.72984px 0 0 $accent_color, -18px 0 0 0 $accent_color,
			  -12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0);
	}
	62.5% {
		 box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0),
			  18px 0 0 -5px rgba(152, 128, 255, 0), 12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0),
			  0 18px 0 -5px rgba(152, 128, 255, 0), -12.72984px 12.72984px 0 0 $accent_color, -18px 0 0 0 $accent_color,
			  -12.72984px -12.72984px 0 0 $accent_color;
	}
	75% {
		 box-shadow: 0 -18px 0 0 $accent_color, 12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0),
			  18px 0 0 -5px rgba(152, 128, 255, 0), 12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0),
			  0 18px 0 -5px rgba(152, 128, 255, 0), -12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0),
			  -18px 0 0 0 $accent_color, -12.72984px -12.72984px 0 0 $accent_color;
	}
	87.5% {
		 box-shadow: 0 -18px 0 0 $accent_color, 12.72984px -12.72984px 0 0 $accent_color,
			  18px 0 0 -5px rgba(152, 128, 255, 0), 12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0),
			  0 18px 0 -5px rgba(152, 128, 255, 0), -12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0),
			  -18px 0 0 -5px rgba(152, 128, 255, 0), -12.72984px -12.72984px 0 0 $accent_color;
	}
}

.sala-ldef-loading {
  box-sizing: unset;
}
/* sala circle */
.sala-ldef-circle {
  display: inline-block;
  transform: translateZ(1px);
}
.sala-ldef-circle > span {
  display: inline-block;
  width: 51px;
  height: 51px;
  margin: 6px;
  border-radius: 50%;
  background: #fff;
  animation: sala-ldef-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes sala-ldef-circle {
  0%, 100% {
	  animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
	  transform: rotateY(0deg);
  }
  50% {
	  transform: rotateY(1800deg);
	  animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
	  transform: rotateY(3600deg);
  }
}

/* sala dual ring */
.sala-ldef-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.sala-ldef-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: sala-ldef-dual-ring 1.2s linear infinite;
}
@keyframes sala-ldef-dual-ring {
  0% {
	  transform: rotate(0deg);
  }
  100% {
	  transform: rotate(360deg);
  }
}

/* sala facebook */
.sala-ldef-facebook {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.sala-ldef-facebook span {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: #fff;
  animation: sala-ldef-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.sala-ldef-facebook span:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}
.sala-ldef-facebook span:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}
.sala-ldef-facebook span:nth-child(3) {
  left: 45px;
  animation-delay: 0;
}
@keyframes sala-ldef-facebook {
  0% {
	  top: 6px;
	  height: 51px;
  }
  50%, 100% {
	  top: 19px;
	  height: 26px;
  }
}

/* sala heart */
.sala-ldef-heart {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  transform: rotate(45deg)!important;
  transform-origin: 32px 32px;
}
.sala-ldef-heart span {
  top: 22px;
  left: 25px;
  position: absolute;
  width: 26px;
  height: 26px;
  background: #fff;
  animation: sala-ldef-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.sala-ldef-heart span:after,
.sala-ldef-heart span:before {
  content: " ";
  position: absolute;
  display: block;
  width: 26px;
  height: 26px;
  background: #fff;
}
.sala-ldef-heart span:before {
  left: -17px;
  border-radius: 50% 0 0 50%;
}
.sala-ldef-heart span:after {
  top: -17px;
  border-radius: 50% 50% 0 0;
}
@keyframes sala-ldef-heart {
  0% {
	  transform: scale(0.95);
  }
  5% {
	  transform: scale(1.1);
  }
  39% {
	  transform: scale(0.85);
  }
  45% {
	  transform: scale(1);
  }
  60% {
	  transform: scale(0.95);
  }
  100% {
	  transform: scale(0.9);
  }
}

/* sala ring */
.sala-ldef-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.sala-ldef-ring span {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: sala-ldef-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.sala-ldef-ring span:nth-child(1) {
  animation-delay: -0.45s;
}
.sala-ldef-ring span:nth-child(2) {
  animation-delay: -0.3s;
}
.sala-ldef-ring span:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes sala-ldef-ring {
  0% {
	  transform: rotate(0deg);
  }
  100% {
	  transform: rotate(360deg);
  }
}

/* sala roller */
.sala-ldef-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.sala-ldef-roller span {
  display: block;
  animation: sala-ldef-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.sala-ldef-roller span:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  margin: -3px 0 0 -3px;
}
.sala-ldef-roller span:nth-child(1) {
  animation-delay: -0.036s;
}
.sala-ldef-roller span:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.sala-ldef-roller span:nth-child(2) {
  animation-delay: -0.072s;
}
.sala-ldef-roller span:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.sala-ldef-roller span:nth-child(3) {
  animation-delay: -0.108s;
}
.sala-ldef-roller span:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.sala-ldef-roller span:nth-child(4) {
  animation-delay: -0.144s;
}
.sala-ldef-roller span:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.sala-ldef-roller span:nth-child(5) {
  animation-delay: -0.18s;
}
.sala-ldef-roller span:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.sala-ldef-roller span:nth-child(6) {
  animation-delay: -0.216s;
}
.sala-ldef-roller span:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.sala-ldef-roller span:nth-child(7) {
  animation-delay: -0.252s;
}
.sala-ldef-roller span:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.sala-ldef-roller span:nth-child(8) {
  animation-delay: -0.288s;
}
.sala-ldef-roller span:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes sala-ldef-roller {
  0% {
	  transform: rotate(0deg);
  }
  100% {
	  transform: rotate(360deg);
  }
}

/* sala default */
.sala-ldef-default {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.sala-ldef-default span {
  position: absolute;
  width: 5px;
  height: 5px;
  background: #fff;
  border-radius: 50%;
  animation: sala-ldef-default 1.2s linear infinite;
}
.sala-ldef-default span:nth-child(1) {
  animation-delay: 0s;
  top: 29px;
  left: 53px;
}
.sala-ldef-default span:nth-child(2) {
  animation-delay: -0.1s;
  top: 18px;
  left: 50px;
}
.sala-ldef-default span:nth-child(3) {
  animation-delay: -0.2s;
  top: 9px;
  left: 41px;
}
.sala-ldef-default span:nth-child(4) {
  animation-delay: -0.3s;
  top: 6px;
  left: 29px;
}
.sala-ldef-default span:nth-child(5) {
  animation-delay: -0.4s;
  top: 9px;
  left: 18px;
}
.sala-ldef-default span:nth-child(6) {
  animation-delay: -0.5s;
  top: 18px;
  left: 9px;
}
.sala-ldef-default span:nth-child(7) {
  animation-delay: -0.6s;
  top: 29px;
  left: 6px;
}
.sala-ldef-default span:nth-child(8) {
  animation-delay: -0.7s;
  top: 41px;
  left: 9px;
}
.sala-ldef-default span:nth-child(9) {
  animation-delay: -0.8s;
  top: 50px;
  left: 18px;
}
.sala-ldef-default span:nth-child(10) {
  animation-delay: -0.9s;
  top: 53px;
  left: 29px;
}
.sala-ldef-default span:nth-child(11) {
  animation-delay: -1s;
  top: 50px;
  left: 41px;
}
.sala-ldef-default span:nth-child(12) {
  animation-delay: -1.1s;
  top: 41px;
  left: 50px;
}
@keyframes sala-ldef-default {
  0%, 20%, 80%, 100% {
	  transform: scale(1);
  }
  50% {
	  transform: scale(1.5);
  }
}

/* sala ellipsis */
.sala-ldef-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.sala-ldef-ellipsis span {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.sala-ldef-ellipsis span:nth-child(1) {
  left: 6px;
  animation: sala-ldef-ellipsis1 0.6s infinite;
}
.sala-ldef-ellipsis span:nth-child(2) {
  left: 6px;
  animation: sala-ldef-ellipsis2 0.6s infinite;
}
.sala-ldef-ellipsis span:nth-child(3) {
  left: 26px;
  animation: sala-ldef-ellipsis2 0.6s infinite;
}
.sala-ldef-ellipsis span:nth-child(4) {
  left: 45px;
  animation: sala-ldef-ellipsis3 0.6s infinite;
}
@keyframes sala-ldef-ellipsis1 {
  0% {
	  transform: scale(0);
  }
  100% {
	  transform: scale(1);
  }
}
@keyframes sala-ldef-ellipsis3 {
  0% {
	  transform: scale(1);
  }
  100% {
	  transform: scale(0);
  }
}
@keyframes sala-ldef-ellipsis2 {
  0% {
	  transform: translate(0, 0);
  }
  100% {
	  transform: translate(19px, 0);
  }
}

/* sala grid */
.sala-ldef-grid {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.sala-ldef-grid span {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation: sala-ldef-grid 1.2s linear infinite;
}
.sala-ldef-grid span:nth-child(1) {
  top: 6px;
  left: 6px;
  animation-delay: 0s;
}
.sala-ldef-grid span:nth-child(2) {
  top: 6px;
  left: 26px;
  animation-delay: -0.4s;
}
.sala-ldef-grid span:nth-child(3) {
  top: 6px;
  left: 45px;
  animation-delay: -0.8s;
}
.sala-ldef-grid span:nth-child(4) {
  top: 26px;
  left: 6px;
  animation-delay: -0.4s;
}
.sala-ldef-grid span:nth-child(5) {
  top: 26px;
  left: 26px;
  animation-delay: -0.8s;
}
.sala-ldef-grid span:nth-child(6) {
  top: 26px;
  left: 45px;
  animation-delay: -1.2s;
}
.sala-ldef-grid span:nth-child(7) {
  top: 45px;
  left: 6px;
  animation-delay: -0.8s;
}
.sala-ldef-grid span:nth-child(8) {
  top: 45px;
  left: 26px;
  animation-delay: -1.2s;
}
.sala-ldef-grid span:nth-child(9) {
  top: 45px;
  left: 45px;
  animation-delay: -1.6s;
}
@keyframes sala-ldef-grid {
  0%, 100% {
	  opacity: 1;
  }
  50% {
	  opacity: 0.5;
  }
}

/* sala hourglass */
.sala-ldef-hourglass {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.sala-ldef-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 26px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: sala-ldef-hourglass 1.2s infinite;
}
@keyframes sala-ldef-hourglass {
  0% {
	  transform: rotate(0);
	  animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
	  transform: rotate(900deg);
	  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
	  transform: rotate(1800deg);
  }
}

/* sala ripple */
.sala-ldef-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.sala-ldef-ripple span {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: sala-ldef-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.sala-ldef-ripple span:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes sala-ldef-ripple {
  0% {
	  top: 28px;
	  left: 28px;
	  width: 0;
	  height: 0;
	  opacity: 1;
  }
  100% {
	  top: -1px;
	  left: -1px;
	  width: 58px;
	  height: 58px;
	  opacity: 0;
  }
}

/* sala spinner */
.sala-ldef-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.sala-ldef-spinner span {
  display: block;
  transform-origin: 32px 32px;
  animation: sala-ldef-spinner 1.2s linear infinite;
}
.sala-ldef-spinner span:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 29px;
  width: 5px;
  height: 14px;
  border-radius: 20%;
  background: #fff;
}
.sala-ldef-spinner span:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.sala-ldef-spinner span:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.sala-ldef-spinner span:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.sala-ldef-spinner span:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.sala-ldef-spinner span:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.sala-ldef-spinner span:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.sala-ldef-spinner span:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.sala-ldef-spinner span:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.sala-ldef-spinner span:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.sala-ldef-spinner span:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.sala-ldef-spinner span:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.sala-ldef-spinner span:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes sala-ldef-spinner {
  0% {
	  opacity: 1;
  }
  100% {
	  opacity: 0;
  }
}
