.page-title {
	position: relative;

	.page-title-heading {
		-ms-word-wrap: break-word;
		word-wrap: break-word;
		margin-bottom: 8px;
	}

	.heading {
		margin-bottom: 0;
	}
}

.page-title-bg {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: #f8f8f8;
	}
}

.page-title-inner {
	position: relative;
	z-index: 1;
    padding-top: 100px;
    padding-bottom: 80px;
}

.sala_breadcrumb {
	margin: 0;
	padding: 0;

	li {
		display: inline-block;
		margin: 0;

		+ li {
			position: relative;
			padding-left: 30px;

			&:before {
				content: '/';
				position: absolute;
				left: 10px;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}

	a {
		@extend %LinkTransition;
		display: block;
	}
}

// Hide entry title if title bar also has post title.
.title-bar-has-post-title {

	.entry-title {
		display: none;
	}
}

.page-title-01 {

	.heading {
        font-size: 64px;
        line-height: 1.31;
		text-align: center;
	}

	.page-title-inner {

		> .container {
			max-width: 970px;
		}
	}

	.page-breadcrumb {
		position: absolute;
		top: 12px;
		left: 0;
		width: 100%;
	}
}

.page-title-03 {

	.page-title-inner {

		.container {
			max-width: 970px;
		}
	}

	.heading {
		text-align: center;
	}

	.page-breadcrumb {
		margin-top: 11px;
	}

	.page-title-meta {
		margin-top: 15px;
		text-align: center;

		> div {
			display: inline-block;
			padding: 5px 10px;
		}

		.post-author {

			img {
				width: 32px;
				vertical-align: middle;
				border-radius: 50%;
			}
		}

		.meta-icon {
			font-size: 14px;
			margin-right: 7px;
		}
	}
}

.page-title-04 {

	.page-title-inner{
		padding-top: 40px;
		padding-bottom: 100px;
	}

	.heading,
	.excerpt {
		text-align: center;
	}

	.excerpt{
		font-size: 18px;
	}

	.page-title-bg:before{
		background-color: transparent;
	}
}

@media (max-width: 767px) {
	.page-title-heading .heading{
		font-size: 32px;
	}
}
